.leaflet-container {
    width: 100%;
    height: 100vh;
    margin-top: 70px;
}

#theMap {
    z-index: 0;
    height: 90vh;
}



  .leaflet-draw-toolbar a {
    background-image: url('https://unpkg.com/leaflet-draw@1.0.2/dist/images/spritesheet.png');
    background-repeat: no-repeat;
    color: transparent !important;
  }

  