#theMap {
    z-index: 0;
    /* height: 96vh; */
    height: 100%;
    min-height: 100%;
    margin-top: 100px;
}
.leafletMap {
  height: 840px;
}

.leaflet-draw-toolbar a {
  background-image: url('https://unpkg.com/leaflet-draw@1.0.2/dist/images/spritesheet.png');
  background-repeat: no-repeat;
  color: transparent !important;
}