#theMap {
    z-index: 0;
    height: 110vh;
    margin-top: 100px;
}

.leaflet-draw-toolbar a {
  background-image: url('https://unpkg.com/leaflet-draw@1.0.2/dist/images/spritesheet.png');
  background-repeat: no-repeat;
  color: transparent !important;
}