
.dailyBackground {
    filter: brightness(125%);
    background-image: url("Pyroclastic_Flow.png");
    background-repeat: round;
    height: 1032px;
}

.linkButton {
    border-radius: 15px;
    background-color:rgb(54, 29, 12);
    color: rgb(250, 175, 36);
    font-size: 27px;
    transition-duration: 2.5s;
    size-adjust: 80px;
}

.linkButton:hover {
    background-color: rgb(158, 74, 18);
    color:rgb(250, 246, 45);
}

.dailyImageProp {
    height: 750px;
    margin-top: 140px;
    border-radius: 100px;
    border: 3px solid rgb(156, 156, 9);
}