
.dailyBackground {
    margin-top: 70px;
    filter: brightness(120%);
    background-image: url("Pyroclastic_Flow.png");
    background-repeat: round;
    height: 1032px;
}

.linkButton {
    margin-top: 70px;
    border-radius: 15px;
    background-color:rgb(54, 29, 12);
    color: rgb(250, 175, 36);
    font-size: larger;
    transition-duration: 1.7s;
    /* font: */
}

.linkButton:hover {
    background-color: rgb(158, 74, 18);
    color:rgb(250, 246, 45)

}

.dailyImageProp {
    margin-top: 70px;
    border-radius: 100px;
    border: 3px solid rgb(156, 156, 9);
    height: 720px;
}