#logo {
    height: 50px;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: gray;
}

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgba(0, 0, 0 , 0);

body {
  background: #fff;
}

.title {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}



#navPages {
    display: flex;
    flex-direction: column;
}

.buttons{
    display:inline-block;
    border:0.16em solid #d7d7d7;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    text-align:center;
    transition: all 0.15s;
}
.buttons:hover{
    color:#000000;
    border-color:#ffafaf;
}
.buttons:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}

