#logo {
    height: 50px;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    /* position: fixed;
     height: 200px;
     width: 600px;
     top: 0; */

}