#wrapperAbout {
    margin-top: 120px;
    display:flex;
    flex-direction: column;
    color: blanchedalmond;
}

#devs {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ;
}

html {
    background-color: darkslategrey;
}

#content {
    background-color: darkslategrey;
}

#filler {
    height: 50px;
}